<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @faq.title %>
</p>

<p>
  <b>Description:</b>
  <%= @faq.description %>
</p>

<p>
  <b>System:</b>
  <%= @faq.system_id %>
</p>


<%= link_to 'Edit', edit_faq_path(@faq) %> |
<%= link_to 'Back', faqs_path %>
