<h2>Regisztráció</h2>
<p><b>A csillagal jelölt mezők kitöltése kötelező!</b></p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <% if resource.errors.any? %>
        <div id="error_explanation">
          <h3>Összesen <%= resource.errors.count %> hiba :</h3>

          <ul>
            <% resource.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

      <p>
      <%= f.label :full_name, (t :full_name) %><br/>
      <%= f.text_field :full_name, :class => "title"  %>
      </p>

      <p>
      <%= f.label :nick_name, (t :nick_name) %><br/>
      <%= f.text_field :nick_name, :class => "title" %>
      </p>


      <p>
      <%= f.label :local_government, (t :local_government) %><br/>
      <%= f.text_field :local_government, :class => "title" %>
      </p>

      <p>
      <%= f.label :phone_number, (t :phone_number) %><br/>
      <%= f.text_field :phone_number, :class => "title" %>
      </p>

  <p class="form_info">Kérem adja meg milyen rendszer(ekk)el rendelkezik :</p>

  <!-- Rendszerek -->

  <p>
  <%= f.check_box :mikrovoks %>MikroVoks
  </p>

  <p>
  <%= f.check_box :mikrokam %>MikroKam
  </p>

  <p>
  <%= f.check_box :sequence %>seQUEnce
  </p>

  <p>
  <%= f.check_box :edtr %>EDtR
  </p>

  <p>
  <%= f.check_box :mvmonitor %>MvMonitor
  </p>

  <p>
  <%= f.check_box :digirat %>Digirat
  </p>

  <p>
  <%= f.label :email, (t :email) %><br/>
  <%= f.email_field :email, :class => "title" %>
  </p>

  <p>
  <%= f.label :password, (t :password) %><br/>
  <%= f.password_field :password, :class => "title" %>
  </p>

  <p>
  <%= f.label :password_confirmation, (t :password_confirmation) %><br/>
  <%= f.password_field :password_confirmation, :class => "title" %>
  </p>

  <p>
  <%= f.submit (t :sign_up) %>
  </p>
<% end %>

<%= render :partial => "devise/shared/links" %>