<h2><%=t :sign_up%></h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <%= f.input :full_name, :label => "#{ t :full_name}"  %>
    <%= f.input :nick_name, :label => "Felhasználói név :" %>
    <%= f.input :local_government, :label => "Önkormányzat neve :", :hint => "pl.: Budaörs Város Önkormányzata" %>
    <%= f.input :phone_number, :label => "Telefonszám :", :hint => "pl.: 06301234567" %>
    <%= f.input :mikrovoks, :as => :boolean %>
    <%= f.input :mikrokam, :as => :boolean %>
    <%= f.input :sequence, :as => :boolean %>
    <%= f.input :edtr, :as => :boolean %>
    <%= f.input :mvmonitor, :as => :boolean %>
    <%= f.input :digirat, :as => :boolean %>
    <%= f.input :flat_rate, :label => "Átalánydíj?", :as => :select, :collection => ["Igen", "Nem"] %>
    <%= f.input :email, :label => "E-mail cím :" %>
    <%= f.input :password, :label => "Jelszó :" %>
    <%= f.input :password_confirmation, :label => "Jelszó megerősítése :" %>
    <%= f.buttons %>
<% end %>

<%= render :partial => "devise/shared/links" %>