<h2>Regisztráció</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

      <p>
      <%= f.label :full_name, (t :full_name) %><br/>
      <%= f.text_field :full_name, :class => "title" %>
      </p>

      <p>
      <%= f.label :nick_name, (t :nick_name) %><br/>
      <%= f.text_field :nick_name, :class => "title" %>
      </p>

      <p>
      <%= f.label :local_government, (t :local_government) %><br/>
      <%= f.text_field :local_government, :class => "title" %>
      </p>

      <p>
      <%= f.label :phone_number, (t :phone_number) %><br/>
      <%= f.text_field :phone_number, :class => "title" %>
      </p>

  <p class="form_info">Kérem adja meg milyen rendszer(ekkel) rendelkezik :</p>

  <!-- Rendszerek -->

  <p>
  <%= f.check_box :mikrovoks %>MikroVoks
  </p>

  <p>
  <%= f.check_box :mikrokam %>MikroKam
  </p>

  <p>
  <%= f.check_box :sequence %>seQUEnce
  </p>

  <p>
  <%= f.check_box :edtr %>EDtR
  </p>

  <p>
  <%= f.check_box :mvmonitor %>MvMonitor
  </p>

  <p>
  <%= f.check_box :digirat %>Digirat
  </p>

  <!-- Atalanydijas ugyfel -->

  <p class="form_info">Amennyiben átalánydíjas ügyfél kérem jelölje be az alábbi pipát!</p>

  <p>
  <%= f.check_box :flat_rate %>Átlánydíjas ügyfél vagyok!
  </p>

  <p>
  <%= f.label :email, (t :email) %><br/>
  <%= f.email_field :email, :class => "title" %>
  </p>

  <p>
  <%= f.label :password, (t :password) %><br/>
  <%= f.password_field :password, :class => "title" %>
  </p>

  <p>
  <%= f.label :password_confirmation, (t :password_confirmation) %><br/>
  <%= f.password_field :password_confirmation, :class => "title" %>
  </p>

  <p>
  <%= f.submit (t :sign_up) %>
  </p>
<% end %>

<%= render :partial => "devise/shared/links" %>