<%= semantic_form_for @article, :html => { :multipart => true } do |f| %>
  
  <% if @article.errors.any? %>
        <div id="error_explanation">
          <h3>Összesen <%= @article.errors.count %> hiba :</h3>

          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.inputs :name => "Cikk adatai :" do %>
          <%= f.input :position, :label => "Pozíciója :" %>
          <%= f.input :title, :label => t(:title) %>
          <%= f.input :short_description, :label => t(:short_description) %>
          <b><%= "Teljes leírás" %></b><br/><br/>
          <%= f.input :content, :label => false, :as => :ckeditor, :input_html => { :width => "98%" } %>
          <%= f.input :system_id, :as => :select, :collection => System.find(:all), :label => t(:system), :hint => "Ha üresen hagyod nem lesz hozzárendelve egyetlen rendszerhez sem." %>
          <%= f.input :image, :label => "Fénykép felröltése", :as => :file %>
    <% end %>

    <%= f.commit_button t(:ok) %>
    <br/>
<% end %>
