<%= semantic_form_for @article, :html => { :multipart => true } do |f| %>
  
  <% if @article.errors.any? %>
        <div id="error_explanation">
          <h3>Összesen <%= @article.errors.count %> hiba :</h3>

          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.inputs :name => "Cikk adatai :" do %>
          <%= f.input :position, :as => :select, :include_blank => false, :collection => [["Rejtett cikk, nem látszik a főoldalon!", 0], ["Friss cikk", 1], ["Cikk kép nélkül", 2], ["Cikk kis képpel a bal oldalon", 3], ["Cikk kép nélkül a jobb oldalon", 4]] %>
          <%= f.input :title, :label => t(:title) %>
          <%= f.input :short_description, :label => t(:short_description) %>
          <b><%= "Teljes leírás" %></b><br/><br/>
          <%= f.input :content, :label => false, :as => :ckeditor, :input_html => { :width => "98%" } %>
          <%= f.input :system_id, :as => :select, :include_blank => true, :collection => System.find(:all), :label => t(:system), :hint => "Ha üresen hagyod nem lesz hozzárendelve egyetlen rendszerhez sem." %>

          <% if @article.outter_link.blank? %>
            <div class="outter_link">
              <strong>Jelenleg nincs a cikk külső URL-hez rendelve! Kattints ide és megathatsz egyet!</strong><br/>
              Ebben az esetben a globomax.hu oldalon a <b><u>"<%= @article.title %>"</u></b> cikk esetében a bővebben gombra kattintva át fog irányítani a megadott URL-re.
              <br/><br/>
              <%= f.input :outter_link, :label => "Külső URL : " %>
            </div>
          <% else %>
            <div class="outter_link">
              A következő link van megadva!
              <br/><br/>
              <%= f.input :outter_link, :label => "Külső URL : " %>
            </div>
          <% end %>

          <br/>
          <%= f.input :created_at, :as => :string, :label => "Cikk dátuma :" %>

          <%= f.input :image, :label => "Fénykép felröltése", :as => :file %>
    <% end %>

    <%= f.commit_button t(:ok) %>
    <br/>
<% end %>
