<%= semantic_form_for @article, :html => { :multipart => true } do |f| %>
  
  <% if @article.errors.any? %>
        <div id="error_explanation">
          <h3>Összesen <%= @article.errors.count %> hiba :</h3>

          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.inputs :name => "Cikk adatai :" do %>
          <%= f.input :position, :label => "Pozíció", :as => :select, :include_blank => false, :collection => [["Rejtett cikk, nem látszik a főoldalon!", 0], ["Friss cikk", 1], ["Cikk kép nélkül", 2], ["Cikk kis képpel a bal oldalon", 3], ["Cikk kép nélkül a jobb oldalon", 4]] %>
          <%= f.input :title, :label => t(:title) %>
          <%= f.input :short_description, :label => t(:short_description) %>
          <%= f.input :system_id, :as => :select, :include_blank => true, :collection => System.find(:all), :label => t(:system), :hint => "Ha üresen hagyod nem lesz hozzárendelve egyetlen rendszerhez sem." %>
          <%= f.input :outter_link, :label => "Külső URL : ", :hint => "Ha megadsz URL-t akkor a weboldalon a bővebben gombra kattintva át fog irányítani a megadott URL-re. Ha nem, akkor új oldalon megjelenik a cikk tartalma!" %>
          <%= f.input :image, :label => "Fénykép felröltése", :as => :file %>
          <br/>
          <b><%= "Teljes leírás" %></b><br/><br/>
          <%= f.input :content, :label => false, :as => :ckeditor, :input_html => { :width => "98%", :height => '400px' } %>
          <%= f.input :created_at, :as => :datetime, :label => "Létrehozás dátuma :" %>
          <%= f.commit_button t(:ok) %>
    <% end %>

    <br/>
<% end %>
