<div id="article">
<h2>Cikkek listája</h2>

<table>
  <tr>
    <th>Cím</th>
    <th>Hozzárendelve</th>
    <th>Módosít</th>
    <th><div class="align_right">Töröl</div></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <% if article.system_id.blank? %>
    <td><%= "Nincs hozzárendelve rendszerhez!" %></td>
    <% else %>
    <td><%= article.system.name %></td>
    <% end %>

    <td><%= link_to t(:modify), edit_article_path(article) %></td>
    <td><div class="align_right"><%= link_to t(:delete), article, :confirm => 'Biztosan törlöd?', :method => :delete %></div></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Új cikk felvitele", new_article_path %>
</div>
