<div id="article">
<h2>Cikkek listája</h2>

  <%= form_tag articles_list_path do %>
      <%= select_tag(:sorted_position, options_for_select([["Összes cikk", "all"], ["Rejtett cikk", "0"], ["Friss cikk", "1"], ["Cikk kép nélkül", "2"], ["Cikk kis képpel a bal oldalon", "3"], ["Cikk kép nélkül a jobb oldalon", "4"], ["Archív cikk", "5"]])) %>
      <%= submit_tag "Rendezz!" %>
  <% end %>

<table>
  <tr>
    <th>Cím</th>
    <th>Hozzárendelve</th>
    <th><div class="align_center">Pozíció</div></th>
    <th>Módosít</th>
    <th><div class="align_right">Töröl</div></th>
  </tr>

  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <% if article.system_id.blank? %>
            <td><%= "Nincs hozzárendelve rendszerhez!" %></td>
            <td>
              <% if article.position == "1" %>
                  <div class="align_center"><%= link_to "#{article.position}", "#", :class => "someClass", :title => "Friss cikk" %></div>
              <% elsif article.position == "2" %>
                  <div class="align_center"><%= link_to "#{article.position}", "#", :class => "someClass", :title => "Cikk kép nélkül!" %></div>
              <% elsif article.position == "3" %>
                  <div class="align_center"><%= link_to "#{article.position}", "#", :class => "someClass", :title => "Cikk kis képpel a bal oldalon" %></div>
              <% elsif article.position == "4"  %>
                  <div class="align_center"><%= link_to "#{article.position}", "#", :class => "someClass", :title => "Cikk kép nélkül a jobb oldalon" %></div>
              <% elsif article.position == "5"  %>
                  <div class="align_center"><%= link_to "Archív!", "#", :class => "someClass", :title => "Archív cikk" %></div>
              <% else %>
                  <div class="align_center"><%= link_to "RC!", "#", :class => "someClass", :title => "Rejtett cikk" %></div>
              <% end %>
            </td>
        <% else %>
            <td><%= article.system.name %></td>
            <td>
              <% if article.position == "1" %>
                  <div class="align_center"><%= link_to "#{article.position}", "#", :class => "someClass", :title => "Friss cikk" %></div>
              <% elsif article.position == "2" %>
                  <div class="align_center"><%= link_to "#{article.position}", "#", :class => "someClass", :title => "Cikk kép nélkül!" %></div>
              <% elsif article.position == "3" %>
                  <div class="align_center"><%= link_to "#{article.position}", "#", :class => "someClass", :title => "Cikk kis képpel a bal oldalon" %></div>
              <% elsif article.position == "4"  %>
                  <div class="align_center"><%= link_to "#{article.position}", "#", :class => "someClass", :title => "Cikk kép nélkül a jobb oldalon" %></div>
              <% elsif article.position == "5"  %>
                  <div class="align_center"><%= link_to "Archív!", "#", :class => "someClass", :title => "Archív cikk" %></div>
              <% else %>
                  <div class="align_center"><%= link_to "RC!", "#", :class => "someClass", :title => "Rejtett cikk" %></div>
              <% end %>
            </td>
        <% end %>

        <td><%= link_to t(:modify), edit_article_path(article) %></td>
        <td>
          <div class="align_right"><%= link_to t(:delete), article, :confirm => 'Biztosan törlöd?', :method => :delete %></div>
        </td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to "Új cikk felvitele", new_article_path %>
</div>