<div id="client">
<h2><%= @client.full_name %> | Ügyfél karbantartása</h2>

<%= semantic_form_for :client, @client, :url => { :action => "edit" } do |f| %>

    <% if @client.errors.any? %>
        <div id="error_explanation">
          <h3>Összesen <%= @client.errors.count %> hiba :</h3>

          <ul>
            <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

      <%= f.inputs :name => "Ügyfél alapadatai :" do %>
          <%= f.input :full_name %>
          <%= f.input :nick_name %>
          <%= f.input :local_government %>
          <%= f.input :phone_number %>
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.input :password_confirmation, :label => "Jelszó megerősítése" %>
      <% end %>

      <%= f.inputs :name => "A felhasználó rendszerei :" do %>
          <%= f.check_box :mikrovoks%>&nbsp;MikroVoks<br/>
          <%= f.check_box :mikrokam %>&nbsp;MikroKam<br/>
          <%= f.check_box :sequence %>&nbsp;seQUEnce<br/>
          <%= f.check_box :edtr %>&nbsp;EDtR<br/>
          <%= f.check_box :mvmonitor %>&nbsp;MvMonitor<br/>
          <%= f.check_box :digirat %>&nbsp;Digirat
      <% end %>


      <%= f.commit_button t(:modify) %>


<% end %>

</div>