<% content_for :faqs do %>
  <h2>GY.I.K (<%= "#{@quantity_faqs}" %>)</h2>
  <div class="article_text">

    <% if @faqs.empty? %>

      <%= "Jelenleg nincs GY.I.K, ehhez a rendszerhez!" %>

    <% else %>

      <% @faqs.each do |faq| %>
        <strong><%= faq.title %></strong><br/><span class="created">Létrehozva : </span><%= faq.created_at %><br/><br/>
        <div class="faq_description"><%= raw truncate ("#{faq.description}"), :length => 100, :omission => '...' %></div>
      <% end %>

      <%= link_to "Megnézem az összes kérdést!", all_faqs_path( :system => @system.title ), :class => "all" %>

    <% end %>
  </div>

<% end %>