<h2>Főmenü</h2>
<ul>
  <li><%= link_to "Adminisztrátorok", administrator_path %></li>
  <li><%= link_to "Kapcsolattartók", contacts_path %></li>
  <li><%= link_to "Ügyfelek", client_path %></li><br/>

  <li><%= link_to "Rólunk", edit_about_us_path(1)%></li>
  <li><%= link_to "Elérhetőségünk", edit_contact_us_path(1) %></li>
  <li><%= link_to "Referenciák","#" %></li>
  <li><%= link_to "Hírek", advices_path %></li>
  <li><%= link_to "Cikkek", articles_path %></li>
  <li><%= link_to "FAQs", faqs_path %></li>
  <li><%= link_to "Rendszerek", systems_path %></li><br/>

  <li><%= link_to "Hibabejelentések", support_messages_list_path %></li>
  <li><%= link_to "Letöltések", "#" %></li>
  <br/>



</ul>