<h2>Főmenü</h2>
<ul>
  <li><%= link_to "Adminisztrátorok", administrator_path %></li>
  <li><%= link_to "Kapcsolattartók", contacts_path %></li>
  <li><%= link_to "Ügyfelek", client_path %></li><br/>

  <li><%= link_to "Hírek", advices_path %></li>
  <li><%= link_to "Cikkek", "#" %></li>
  <li><%= link_to "Referenciák", "#" %></li><br/>

  <li><%= link_to "Üzenetküldés", "#" %></li>
  <li><%= link_to "Hibabejelentés", "#" %></li>
  <li><%= link_to "Szoftverek", "#" %></li>
</ul>