<% content_for :supmessages do %>
  <h2>Bejelentések (<%= "#{@quantity_supmessages}" %>)</h2>
  <div class="article_text">

    <% if @supmessages.empty? %>

      <%= "Jelenleg nincs hibabejelentése, ehhez a rendszerhez" %>

    <% else %>

      <% @supmessages.each do |supmessage| %>
        <strong><%= link_to "#{supmessage.title}", show_supmessage_path(supmessage, :system => @system.title) %></strong><br/><span class="created">Létrehozva : </span><%= supmessage.created_at %> | <u><%= supmessage.comments.size %> komment!</u><br/><br/>
        <div class="supmessage_description"><%= raw truncate ("#{supmessage.description}"), :length => 100, :omission => '...' %></div>
      <% end %>

      <%= link_to "Megnézem az összes hibabejelentést!", all_supmessages_path( :system => "#{@system.title}"), :class => "all" %>

    <% end %>
  </div>

<% end %>