<h2>Menü</h2>
<ul>
  <li><%= link_to "Főoldal", frontend_index_path %></li>
  <li><%= link_to "Hibabejelentés", supmessages_path( :system => session[:current_system].title ) %></li>
  <li><%= link_to "Ajánlatkérés", "#" %></li>
  <li><%= link_to "Letöltések", "#" %></li>
  <li><%= link_to "Gyakran Ismételt Kérdések", "#" %></li>
  <li><%= link_to "Eszközök", "#" %></li>
  <li><%= link_to "Prospektusok", "#" %></li>
</ul>