<h2>Terméktámogatás</h2>
<ul>
  <li><%= link_to "Hibabejelentés", "#" %></li>
  <li><%= link_to "Ajánlatkérés", "#" %></li>
  <li><%= link_to "Letöltések", "#" %></li><br/>
  <li><%= link_to "Gyakran Ismétel Kérdések", "#" %></li><br/>

  <li><%= link_to "Eszközök", "#" %></li>
  <li><%= link_to "Prospektusok", "#" %></li>

</ul>