<h2>Weboldal karbantartása</h2>
<ul>
  <li><%= link_to "Rólunk", "#" %></li>
  <li><%= link_to "Dolgozók", "#" %></li>
  <li><%= link_to "Elérhetőségünk", "#" %></li><br/>

  <li><%= link_to "Referenciák","#" %></li>
  <li><%= link_to "Hírek","#" %></li>
  <li><%= link_to "Termékek", "#" %></li>
  <li><%= link_to "Terméktámogatás", "#" %></li><br/>

</ul>