<div id="administrator">
<h2>Adminisztrátor módosítása</h2>

  <!-- FORM START -->

  <%= semantic_form_for @admin, :url => {:action => "update"}, :html => { :multipart => true } do |f| %>

      <% if @admin.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this advice from being saved:</h2>

            <ul>
              <% @admin.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.inputs :name => "Adminisztrátor :" do %>
          <%= f.input :name, :label => "Adminisztrátor neve : " %>
          <%= f.input :email %>
          <%= f.input :password, :default => "#{@admin.encrypted_password}" %>
          <%= f.input :systems, :as => :select, :collection => System.find(:all), :label => "Termékek" %>
          <%= f.input :image, :as => :file, :label => t(:photo) %>
      <% end %>

      <%= f.commit_button t(:modify) %>

  <% end %>

</div>