<div id="contact">

<%= semantic_form_for @contact, :html => { :multipart => true } do |f| %>

    <% if @contact.errors.any? %>
        <div id="error_explanation">
          <h3>Összesen <%= @contact.errors.count %> hiba :</h3>

          <ul>
            <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.inputs :name => "Kapcsolattartó adatai :" do %>
          <%= f.input :name, :label => t(:name) %>
          <%= f.input :classification, :label => t(:classification) %>
          <%= f.input :description, :label => t(:short_description) %>
          <%= f.input :email %>
          <%= f.input :mobil, :label => t(:mobil)  %>
          <%= f.input :phone, :label => t(:phone) %>
          <%= f.input :image, :as => :file, :label => t(:photo) %>
    <% end %>

    <%= f.commit_button t(:create) %>

<% end %>

</div>