<%= form_for(@contact, :html => { :multipart => true }) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, t(:email) %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mobil, t(:mobil) %><br />
    <%= f.text_field :mobil %>
  </div>
  <div class="field">
    <%= f.label :phone, t(:phone)%><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :image, t(:phone)%><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit t(:ok) %>
  </div>
<% end %>
