<% content_for :position_1 do %>

  <!-- ARTICLE POS 1 -->

  <% @articles.each do |article| %>
    <% if article.position == "1" %>

            <div> <!-- START NEW ITEM --------------------------------------------------------------------------->

              <div class="item">
                <%= image_tag article.image.url(:medium) %>
                <h3><%= article.title %></h3>

                <div class="article_date">Létrehozva : <%= article.created_at.strftime("%F") %></div>
                <p>
                  <%= raw truncate("#{article.short_description}", :length => 220, :omission => "...") %>
                </p>

                <% if article.outter_link.blank? %>
                    <div class="read_more"><%= link_to "Bővebben", website_article_path(article) %></div>
                <% else %>
                    <div class="read_more"><%= link_to "Bővebben", "#{article.outter_link}", :target => "_BLANK" %></div>
                <% end %>
              </div>

            </div> <!-- END NEW ITEM ---------------------------------------------------------------------------->

    <% end %>
  <% end %>

  <!-- ARTICLE POS 1 END -->

<% end %>

<h1><%= @about_us.title %></h1>
<div class="text">
  <%= raw @about_us.content %>
</div>