<!-- POSITION 1 -->

<h1><%= @about_us.title %></h1>
<div class="main_yield_text">
  <%= raw @about_us.content %>
</div>

<% content_for :position_1 do %>

  <!-- ARTICLE POS 1 -->

  <% @articles.each do |article| %>
    <% if article.position == "1" %>
      <div class="important">
        <h2><%= article.title %></h2>
        <div class="span-2 append-1">
          <div class="month">
            <%= article.created_at.strftime("%b") %>
          </div>
          <div class="day">
            <%= article.created_at.strftime("%d") %>
          </div>
        </div>
        <div class="span-13 last">
          <div class="text">
            <%= raw truncate("#{article.short_description}", :length => 200, :omission => "...") %>
          </div>
        </div>
        <div class="span-3 prepend-13">
          <div class="read_more">
            <%= link_to "Bővebben", website_article_path(article) %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- ARTICLE POS 1 END -->

<% end %>

<!-- POSITION 2 -->

<% content_for :position_2 do %>

  <% @articles.each do |article| %>
    <% if article.position == "2" %>
      <div class="simple">
        <h2><%= article.title %></h2>
        <div class="span-2 append-1">
          <div class="month">
            <%= article.created_at.strftime("%b") %>
          </div>
          <div class="day">
            <%= article.created_at.strftime("%d") %>
          </div>
        </div>
        <div class="span-13 last">
          <div class="text">
            <%= raw truncate("#{article.short_description}", :length => 200, :omission => "...") %>
          </div>
        </div>
        <div class="span-3 prepend-13">
          <div class="read_more">
            <%= link_to "Bővebben", website_article_path(article) %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>

<!-- POSITION 3 -->

<% content_for :position_3 do %>

  <% @articles.each do |article| %>
    <% if article.position == "3" %>
      <div class="position_3">
      <h2><%= article.title %></h2>
      <div class="pos3_short_description">
        <%= image_tag article.image.url(:thumb) %>
        <%= raw truncate("#{article.short_description}", :length => 250, :omission => "...") %>
      </div>
      <div class="read_more">
        <%= link_to "Bővebben", website_article_path(article) %>
      </div>
      </div>
    <% end %>
  <% end %>

<% end %>

<!-- POSITION 4 -->

<% content_for :position_4 do %>

  <% @articles.each do |article| %>
    <% if article.position == "4" %>
      <div class="position_4">
      <h2><%= article.title %></h2>
      <div class="pos4_short_description">
        <%= raw truncate("#{article.short_description}", :length => 200, :omission => "...") %>
      </div>
      <div class="read_more">
        <%= link_to "Bővebben", website_article_path(article) %>
      </div>
      </div>
    <% end %>
  <% end %>

<% end %>

<!-- POSITION 5 -->

<% content_for :advices do %>

  <%= raw @commercial.content %><br/>

  <% @advices.each do |advice| %>
    <div class="advices">
      <h2><%= advice.title %></h2>
      <%= raw truncate("#{advice.content}", :length => 200, :omission => "...") %>
      <div class="read_more">
        <%= link_to "Bővebben", website_advice_path(advice) %>
      </div>
    </div>
  <% end %>

<% end %>