<!-- POSITION 1 -->

<% content_for :position_1 do %>

  <!-- ARTICLE POS 1 -->

  <% @articles.each do |article| %>
    <% if article.position == "1" %>
      <h2><%= article.title %></h2>
      <div class="important">
        <%= raw article.short_description %>
      </div>
    <% end %>
  <% end %>

  <!-- ARTICLE POS 1 END -->

<% end %>

<!-- POSITION 2 -->

<% content_for :position_2 do %>

  <% @articles.each do |article| %>
    <% if article.position == "2" %>
      <h2><%= article.title %></h2>
      <div class="short_description">
        <%= raw article.short_description %>
      </div>
    <% end %>
  <% end %>

<% end %>

<!-- POSITION 3 -->

<% content_for :position_3 do %>

  <% @articles.each do |article| %>
    <% if article.position == "3" %>
      <h2><%= article.title %></h2>
      <%= raw article.short_description %><br/><br/>
    <% end %>
  <% end %>

<% end %>

<!-- POSITION 4 -->

<% content_for :position_4 do %>

  <% @articles.each do |article| %>
    <% if article.position == "4" %>
      <h2><%= article.title %></h2>
      <%= raw article.short_description %><br/><br/>
    <% end %>
  <% end %>

<% end %>