<% content_for :position_1 do %>

  <!-- ARTICLE POS 1 -->

  <% @articles.each do |article| %>
    <% if article.position == "1" %>

            <div> <!-- START NEW ITEM --------------------------------------------------------------------------->

              <div class="item">
                <%= image_tag article.image.url(:medium) %>
                <h3><%= article.title %></h3>

                <div class="article_date">Létrehozva : <%= article.created_at.strftime("%F") %></div>
                <p>
                  <%= raw truncate("#{article.short_description}", :length => 220, :omission => "...") %>
                </p>
                <% if article.outter_link.blank? %>
                    <div class="read_more"><%= link_to "Bővebben", website_article_path(article) %></div>
                <% else %>
                    <div class="read_more"><%= link_to "Bővebben", "#{article.outter_link}" %></div>
                <% end %>
              </div>

            </div> <!-- END NEW ITEM ---------------------------------------------------------------------------->

    <% end %>
  <% end %>

  <!-- ARTICLE POS 1 END -->

<% end %>

<% @products.each do |product| %>

  <div class="span-16">
    <div class="product">
      <h2><%= product.name %></h2>
    </div>
  </div>
  <div class="span-15">
    <div class="product_description">
      <%= product.description %><br/><br/>
      <div class="product_read_more">
        <%= link_to "Bővebben", product.url %>
      </div>
    </div>
  </div>


<% end %>