<% content_for :position_1 do %>

    <!-- ARTICLE POS 1 -->

    <% @articles.each do |article| %>

        <% if article.position == "1" %>

            <% if article.start_date.blank? %>
                <!-- If blank then set the current date -->
                <% @start_date = @current_datetime %>
            <% else %>
                <!-- Set by the user -->
               <% @start_date = article.start_date %>
            <% end %>

            <% if article.end_date.blank? %>
                <!-- If blank then set the current date + 1 year -->
                <% @end_date = @current_datetime + 1.years %>
            <% else %>
                <% @end_date = article.end_date %>
            <% end %>

            <!-------------------------- if start_date and end_date !All not blank! then show-------------------------->
            <!--------------------------------------------------------------------------------------------------------->

            <% if @start_date && @end_date %>

                <% if (@start_date <= @current_datetime) && (@end_date >= @current_datetime)  %>
                  <div>

                      <div class="item">
                        <%= image_tag article.image.url(:medium) %>
                        <h3><%= article.title %></h3>

                        <div class="article_date">
                          Létrehozva : <%= article.created_at.strftime("%F") %>
                        </div>
                        <p>
                          <%= raw truncate("#{article.short_description}", :length => 220, :omission => "...") %>
                        </p>
                        <% if article.outter_link.blank? %>
                            <div class="read_more"><%= link_to "Bővebben", website_article_path(article) %></div>
                        <% else %>
                            <div class="read_more"><%= link_to "Bővebben", "#{article.outter_link}", :target => "_BLANK" %></div>
                        <% end %>

                      </div>

                    </div>
                <% end %>
            <% end %>

        <% end %>

  <% end %>

  <!-- ARTICLE POS 1 END -->

<% end %>

<!-- Show article -->

<div class="show_article">
  <h1><%= @advice.title %></h1>
  <div class="short_description">
    <%= raw @advice.short_description %>
  </div>
  <%= raw @advice.content %><br/><br/>
</div>