<%= semantic_form_for(@advice) do |f| %>
  
  <% if @advice.errors.any? %>
        <div id="error_explanation">
          <h3>Összesen <%= @advice.errors.count %> hiba :</h3>

          <ul>
            <% @advice.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.inputs :name => "Hír adatai :" do %>
          <%= f.input :title, :label => t(:title) %>
          <%= f.input :system_id, :as => :select, :include_blank => false, :collection => System.find(:all), :label => t(:system), :hint => "Ha üresen hagyod nem lesz hozzárendelve egyetlen rendszerhez sem." %>
          <b><%= "Rövid leírás" %></b><br/><br/>
          <%= f.input :short_description, :label => false, :as => :ckeditor, :input_html => { :width => "98%", :height => "400px" } %>
          <b><%= "Tartalom" %></b><br/><br/>
          <%= f.input :content, :label => false, :as => :ckeditor, :input_html => { :width => "98%", :height => "400px" } %>
          <%= f.input :created_at, :as => :datetime, :label => "Hír dátuma :" %>

    <% end %>

    <%= f.commit_button t(:ok) %>
    <br/>
<% end %>
