<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @advice.title %>
</p>

<p>
  <b>Short description:</b>
  <%= @advice.short_description %>
</p>

<p>
  <b>Content:</b>
  <%= @advice.content %>
</p>


<%= link_to 'Edit', edit_advice_path(@advice) %> |
<%= link_to 'Back', advices_path %>
