<div id="system">

<%= semantic_form_for @system, :html => { :multipart => true } do |f| %>

    <% if @system.errors.any? %>
        <div id="error_explanation">
          <h3>Összesen <%= @system.errors.count %> hiba :</h3>

          <ul>
            <% @system.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.inputs :name => "Rendszer adatai :" do %>
          <%= f.input :name, :label => t(:name), :hint => "Nem szerkeszthető mező!", :input_html => { :disabled => true } %>
          <%= f.input :full_name, :label => "Teljes név" %>
          <%= f.input :description, :label => t(:short_description) %>
          <%= f.input :users, :label => "A rendszer felhasználói :", :as => :select, :collection => User.find(:all), :hint => "Nem szerkeszthető mező!", :input_html => { :disabled => true }%>
    <% end %>

    <%= f.commit_button t(:ok) %>

<% end %>

</div>
