<%= semantic_form_for @commercial, :url => update_commercial_path(@commercial)  do |f| %>
  
  <% if @commercial.errors.any? %>
        <div id="error_explanation">
          <h3>Összesen <%= @commercial.errors.count %> hiba :</h3>

          <ul>
            <% @commercial.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.inputs :name => "Cég reklámai :" do %>
          <%= f.input :title, :label => false %>
          <%= f.input :content, :label => false, :as => :ckeditor, :input_html => { :width => "98%", :height => "500px" }  %>
    <% end %>

    <%= f.commit_button t(:ok) %>

<% end %>
