<!DOCTYPE html>
<html>
<head>
  <title>Gtt</title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "easySlider1.5", "tiptip" %>
  <%= stylesheet_link_tag 'blueprint/src/reset', 'blueprint/src/forms', 'blueprint/screen', 'blueprint/src/ie', 'blueprint/src/typography', 'main', 'formtastic', 'formtastic_changes' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="pageflip">
  <%= link_to image_tag("page_flip.png"), "http://onkormanyzati.tv" %>
  <span class="msg_block">Subscribe via RSS</span>
</div>


<div id="message">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "notice_#{name}" %>
    <% end %>
</div>

<div id="main">

  <div id="block_1">
    <div class="container">
      <div class="span-9" id="fejlec_hatter">
        &nbsp;
      </div>

      <div class="span-7 prepend-5" id="admin_data">
        <div class="main_text">
          Ügyfél neve : <b><%= current_user.full_name %></b><br/>
          <b>Utolsó bejelentkezés : </b> <%= current_user.last_sign_in_at %><br/>
        </div>
      </div>


      <div class="span-3 last">
        <div id="admin_login">
          <%= image_tag("logout.png") %><%= link_to "Kijelentkezés", destroy_user_session_path %>
        </div>
      </div>
    </div>
  </div>

  <div id="frontend">
      <div id="block_2">

        <div class="container">

          <div class="span-24">

            <!-- LINE 1 -->

            <% unless @user_contact %>

              <div class="span-12">
                <div class="main_text" id="teruleti_kepviselo">
                  <h2>Az Ön területi lépviselője:</h2>
                  <div class="no_contact">
                    <b>Az adminisztrátor még nem rendelt Önhöz kapcsolattartót!</b>
                  </div>
                </div>
              </div>

            <% else %>

              <div class="span-12">
                <div class="main_text" id="teruleti_kepviselo">
                  <h2>Az Ön területi lépviselője:</h2>

                    <% if @user_contact.image_file_name.blank? %>
                       <td><%= image_tag("default_profile_thumb.png") %></td>
                    <% else %>
                       <td><%= image_tag @user_contact.image.url(:medium) %></td>
                    <% end %>

                  <div class="kapcs_nev">
                    <%= @user_contact.name %>
                  </div>
                  <div class="kapcs_vezetekes">
                    Vezetékes telefon : <%= @user_contact.phone %>
                  </div>
                  <div class="kapcs_mobil">
                    Mobil telefon : <%= @user_contact.mobil %>
                  </div>
                  <div class="kapcs_email">
                    E-mail cím : <%= @user_contact.email %>
                  </div>
                </div>
              </div>

            <% end %>

            <div class="span-12 last">
              <div class="main_text">
                <h2>Globomax központ :</h2>
                <%= image_tag("telephely.png") %>
                <div class="telephely_nev">
                  Globomax Elektronikai Kft.
                </div>
                <div class="telephely_cim">
                <b>Cím : </b> 1155 Budapest, Dembinszky utca 1.<br/>
                </div>
                <div class="telephely_usz">
                <b>Ügyfélszolgálat : </b> 06-1-271-0451<br/>
                </div>
                <div class="telephely_fax">
                <b>Fax : </b>06-1-306-53-64
                </div>
              </div>
            </div>

            <div class="clear"></div>

            <!-- CONTENT SLIDER -->

            <div id="slider2">
              <ul>
                <% @advices.each do |advice| %>
                  <li>
                    <div class="news_content">
                      <h2><%= advice.title %> | <%= advice.created_at.strftime("%F") %></h2>

                      <p><%= raw truncate("#{advice.short_description}", :length => 600, :omission => '...') %></p>

                      <div class="read_more">
                        <%= link_to "Bővebben", show_advice_path(advice) %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>

            <%= yield :advice %>

            <div id="systems">

            <!-- Mikrovoks -->

            <div class="span-8" id="mikrovoks">

                <div class="span-8" id="mikrovoks_fejlec">
                  <div class="main_text"><%= link_to "MikroVoks Szavazó Rendszer", "#", :title => "#{@mikrovoks_system.description}", :id => "mikrovoks_tip"  %></div>
                </div>
                <div class="demo">
                  <div class="span-8">
                    <%= link_to image_tag("termek_mikrovoks.jpg"), support_path( :system => "mikrovoks") %>
                  </div>
                </div>

                <div class="span-8">
                  <% if @mikrovoks_support == "1" %>
                    <%= link_to image_tag("termek_tamogatas.jpg"), support_path( :system => "mikrovoks") %>
                  <% else %>
                    <%= image_tag "termek_informacio.jpg", :title => "#{@mikrovoks_system.description}", :id => "mikrovoks_tip" %>
                  <% end %>
                </div>

            </div>

            <!-- Mikrokam -->

            <div class="span-8" id="mikrokam">

                <div class="span-8" id="mikrokam_fejlec">
                  <div class="main_text"><%= link_to "MikroKam Robotkamerás Rendszer", "#", :title => "#{@mikrokam_system.description}", :id => "mikrokam_tip"  %></div>
                </div>
                <div class="demo">
                  <div class="span-8">
                    <%= link_to image_tag("termek_mikrokam.jpg"), support_path( :system => "mikrokam") %>
                  </div>
                </div>

                <div class="span-8">
                   <% if @mikrokam_support == "1" %>
                    <%= link_to image_tag("termek_tamogatas.jpg"), support_path( :system => "mikrokam")%>
                  <% else %>
                    <%= image_tag "termek_informacio.jpg", :title => "#{@mikrokam_system.description}", :id => "mikrokam_tip" %>
                  <% end %>
                </div>

            </div>
            
            <!-- seQUEnce -->

            <div class="span-8 last" id="sequence">

                <div class="span-8" id="sequence_fejlec">
                  <div class="main_text"><%= link_to "seQUEnce Ügyfélhívó Rendszer", "#", :title => "#{@sequence_system.description}", :id => "sequence_tip"  %></div>
                </div>
                <div class="demo">
                  <div class="span-8">
                    <%= link_to image_tag("termek_sequence.jpg"), support_path( :system => "sequence") %>
                  </div>
                  <div class="tooltip">
                     <%= @sequence_system.description %>
                  </div>
                </div>

                <div class="span-8">
                    <% if @sequence_support == "1" %>
                    <%= link_to image_tag("termek_tamogatas.jpg"), support_path( :system => "sequence") %>
                  <% else %>
                    <%= image_tag "termek_informacio.jpg", :title => "#{@sequence_system.description}", :id => "sequence_tip" %>
                  <% end %>
                </div>

            </div>

            <!-- LINE 3 -->

            <div class="span-8" id="edtr">

                <div class="span-8" id="edtr_fejlec">
                  <div class="main_text"><%= link_to "EDtR Döntéstámogató Rendszer", "#", :title => "#{@edtr_system.description}", :id => "edtr_tip"  %></div>
                </div>
                <div class="demo">
                  <div class="span-8">
                    <%= link_to image_tag("termek_edtr.jpg"), support_path( :system => "edtr") %>
                  </div>
                </div>

                <div class="span-8">
                    <% if @edtr_support == "1" %>
                    <%= link_to image_tag("termek_tamogatas.jpg"), support_path( :system => "edtr") %>
                  <% else %>
                    <%= image_tag "termek_informacio.jpg", :title => "#{@edtr_system.description}", :id => "edtr_tip" %>
                  <% end %>
                </div>

            </div>
            
            <div class="span-8" id="mvmonitor">

                <div class="span-8" id="mvmonitor_fejlec">
                  <div class="main_text"><%= link_to "MvMonitor Jegyzőkönyvező Rendszer", "#", :title => "#{@mvmonitor_system.description}", :id => "mvmonitor_tip"  %></div>
                </div>
                <div class="demo">
                  <div class="span-8">
                    <%= link_to image_tag("termek_mvmonitor.jpg"), support_path( :system => "mvmonitor") %>
                  </div>
                </div>

                <div class="span-8">
                    <% if @mvmonitor_support == "1" %>
                    <%= link_to image_tag("termek_tamogatas.jpg"), support_path( :system => "mvmonitor") %>
                  <% else %>
                    <%= image_tag "termek_informacio.jpg", :title => "#{@mvmonitor_system.description}", :id => "mvmonitor_tip" %>
                  <% end %>
                </div>

            </div>
            
            <div class="span-8 last" id="digirat">

                <div class="span-8" id="digirat_fejlec">
                  <div class="main_text"><%= link_to "Digirat Jegyzőkönyvező Rendszer", "#", :title => "#{@digirat_system.description}", :id => "digirat_tip"  %></div>
                </div>

                <div class="demo">
                  <div class="span-8">
                    <%= link_to image_tag("termek_digirat.jpg"), support_path( :system => "digirat") %>
                  </div>
                </div>

                <div class="span-8">
                    <% if @digirat_support == "1" %>
                    <%= link_to image_tag("termek_tamogatas.jpg"), support_path( :system => "digirat") %>
                  <% else %>
                    <%= image_tag "termek_informacio.jpg", :title => "#{@digirat_system.description}", :id => "digirat_tip" %>
                  <% end %>
                </div>

            </div>

            </div> <!-- END SYSTEMS -->

            <div class="span-24">
            </div>

          </div>

        </div>

        </div>

      </div>

  <div id="footer">
     <div class="container">
       <div class="span-24">
         <div class="footer_main_text">
           Globomax Kft. | Minden jog fenntartva 2011
         </div>
       </div>
     </div>
  </div>

</div>

<script>
  $('#notice_notice').delay(1900).slideUp(900);
  $('#notice_alert').delay(1900).slideUp(900);

  $(".close").click(function () {
      $("#show_advice").slideUp();
  });


  /* PEEL */

  $("#pageflip").hover(function() {
		$("#pageflip img , .msg_block").stop()
			.animate({
				width: '307px',
				height: '319px'
			}, 200);
		} , function() {
		$("#pageflip img").stop()
			.animate({
				width: '50px',
				height: '52px'
			}, 220);
		$(".msg_block").stop()
			.animate({
				width: '50px',
				height: '50px'
			}, 200);
	});

  /* NEWS SLIDER */

</script>


</body>
</html>
