<!DOCTYPE html>
<html>
<head>
  <title>Globomax Elektronikai Kft.</title>
  <%= stylesheet_link_tag "blueprint/ie", "blueprint/screen", "blueprint/src/reset" %>
  <%= stylesheet_link_tag "website" %>
  <%# render :partial => "shared/stylesheet" %> <!-- In application.helper -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="main">

    <div id="block_1">
      <div class="container">
        <div class="span-24"> <!-- 24 oszlopos ami ele berak 16 ures oszlopot! -->
          <div class="main_text">
             Globomax Elektronikai Kft. - 1155 Budapest Dembinszky utca 1. - Telefon : +36 1 271 0451, +36 306 5371 - Email : info@globomax.hu - Web : www.globomax.hu
          </div>
        </div>
      </div>
    </div>

    <div id="block_2">
      <div class="container">
        <div class="span-24">
          <ul class="menu">
            <li class="button"><%= link_to "Főoldal", "#" %></li>
            <li class="button"><%= link_to "Elérhetőségünk", "#" %></li>
            <li class="button"><%= link_to "Kollégáink", "#" %></li>
            <li class="button"><%= link_to "Termékek", "#" %></li>
            <li class="button"><%= link_to "Referenciáink", "#" %></li>
          </ul>
        </div>
      </div>
    </div>

  <!-- Jquery Tools ** SLIDER **   -->

    <div id="block_4">
      <div class="container">
        <div id="big_pic">
          <div class="span-24" id="text_container">


<!-- Slideshow here! -->

            <!-- "previous slide" button -->
            <a class="backward">prev</a>

            <!-- container for the slides -->

            <div class="images">

                <div>
                  <h3>Digitális, titkosított hangrögzítés</h3>
                  <p>
                   <%= image_tag "globomax/kep_1.png" %>
                   Az új Digirat rendszer komplett megoldást nyújt egy ülés illetve konferencia hang,- valamint képfelvételének a vezérlésére és rögzítésére.
                  </p>

                </div>
                <div>
                  <h3>Sablon használat, jegyzőkönyv írás</h3>
                  <p>
                   <%= image_tag "globomax/kep_2.png" %>
                   Előre elkészített sablonok használata valamint az írásos jegyzőkönyv továbbszerkesztési lehetősége ülés után, a programon belül
                  </p>
                </div>

                <div>
                  <h3>MP3 konvertálási lehetőség</h3>
                  <p>
                   <%= image_tag "globomax/kep_3.png" %>
                   Hanganyag visszahallgatása a számítógépen, lábpedál vezérlésére diktafon üzemmódban, hanganyag konvertálás mp3-ba.
                  </p>
                </div>

            </div>

            <!-- "next slide" button -->
            <a class="forward">next</a>

            <!-- the tabs -->
            <div class="slidetabs">
                <%= link_to "", "#" %>
                <%= link_to "", "#" %>
                <%= link_to "", "#" %>
            </div>

            <br/><br/>

            <div class="play">PLAY</div>
            <div class="stop">STOP</div>

            <!-- Slideshow here! -->

          </div>
        </div>
      </div>
    </div>

  <!-- Jquery Tools ** SLIDER END **   -->

    <div id="block_6">
      <div class="container prepend-top">
        <div class="span-16">
          <div id="user_nav">
          </div>
          <div id="message">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
          </div>
          <div class="text">
            <%= yield %>
          </div>

          <!-- Jquery Tools ** TABS **   -->

            <div id="tabs_div">
                <%# yield :tab %>
              <script>
                 $("ul.tabs").tabs("div.panes > div", {effect: 'fade', fadeInSpeed: 400});
              </script>
            </div>

          <!-- Jquery Tools ** TABS **   -->

          <div id="hatterem">
            &nbsp;
          </div>

        </div>
        <div class="span-8 last">
          <div class="right_text">
            <div id="advice">
              <%= yield :right %>
            </div>
            <div id="facebook"><!-- FACEBOOK -->
                <div id="fb-root"></div><script src="http://connect.facebook.net/hu_HU/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/%C3%96nkorm%C3%A1nyzati-TV/164894550219087" width="280" height="625" show_faces="true" stream="true" header="false"></fb:like-box>
              </div><!-- FACEBOOK -->
          </div>
        </div>
      </div>
    </div>

  <div id="block_5">
      <div class="container">
        <div class="span-16" id="block5_image_left">
          <div class="title">
            <h1>Professzionális megoldások a Globomax-al!</h1>
          </div>
          <div class="text">
            Hiszünk abban, hogy ügyfeleink céljainak elérésén keresztül a magunk módján hozzájárulhatunk az <b>önkormányzati munka</b> transzparenciájához!
            <div class="button"><%= link_to "Bővebb információ", "http://www.globomax.hu" %></div>
          </div>
        </div>
        <div class="span-8 last" id="block5_image_right">
           <div class="title">
            <h1>Önkormányzati TV</h1>
            <ul class="services">
              <li><%= link_to"Regisztráció", "http://onkormanyzati.tv/index.php?id=44" %></li>
              <li><%= link_to"Önkormányzatoknak", "http://onkormanyzati.tv/index.php?id=7" %></li>
              <li><%= link_to"Szavazás", "http://onkormanyzati.tv/index.php?id=6" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="block_7">
      <div class="container">
        <div class="span-24">
          <div class="tovabbi_termekek">
            <h1>Cégünk kiemelt termékei</h1>
            Az önálló fejlesztő, gyártó, tevékenység eredményeként saját termékeink köre évről évre bővül. A meglevő termékek hardverét folyamatosan fejlesztjük, a programok szolgáltatásait bővítjük. Hiszünk abban, hogy ügyfeleink céljainak elérésén keresztül a magunk módján hozzájárulhatunk az önkormányzati munka transzparenciájához. Hisszük, hogy munkánkkal csökkenthetjük a lakosság, a választópolgárok, és politika távolságát.
          </div>
        </div>
      </div>
    </div>
    <div id="block_8">
      <div class="container">
        <div class="span-24">
          <div class="sor">
            <div class="span-8">
              <div class="text">
                   <h3><%= link_to "MikroVoks szavazatszámláló rendszer", "http://mikrovoks.globomax.hu" %></h3>
                   <%= image_tag("globomax/product_mikrovoks.jpg") %>
                   A jelenleg kapható legkorszerűbb, integrált testületi rendszer, amely nem csak önkormányzati testületek, de más demokratikus és tőkearányos döntéshozatali testületek munkáját szolgálja ki az előkészítéstől...
              </div>
            </div>
            <div class="span-8">
              <div class="text">
                   <h3><%= link_to "MikroKam robotkamerás rendszer", "http://mikrokam.globomax.hu" %></h3>
                   <%= image_tag("globomax/product_mikrokam.jpg") %>
                   A modulárisan felépülő rendszerhez olyan szolgáltatások kapcsolhatók, mint a szavazás lebonyolítása, elektronikus archiválás, Broadcast minőségű kimenetek biztosítása a kábelhálózat vagy a helyi televízió irányába...
              </div>
            </div>
            <div class="span-8 last">
              <div class="text">
                   <h3><%= link_to "seQUEnce ügyfélhívó rendszer", "http://sequence.globomax.hu" %></h3>
                   <%= image_tag("globomax/product_sequence.jpg") %>
                   A GLOBOMAX Kft-ben kifejlesztett seQUEnceügyfélirányító rendszer, a nagyobb ügyfélforgalmú helyek részére ajánlott, számítógép vezérelt, elektronikus rendszer. Ennek segítségével könnyebbé lehet tenni...
              </div>
            </div>

            <!-- Kovetkezo 3 termek megjelenitese -->

            <div class="span-8">
              <div class="text">
                   <h3><%= link_to "Elektronikus Döntéstámogató Rendszer", "http://edtr.globomax.hu" %></h3>
                   <%= image_tag("globomax/product_edtr.jpg") %>
                   Ha mindezt hagyományos papír alapon szeretnénk adminisztrálni, az évek múlásával egyre nagyobb problémát fog okozni a "papírrengeteg". Nehézkes lesz előkeresni egy korábbi döntést...
              </div>
            </div>
            <div class="span-8">
              <div class="text">
                   <h3><%= link_to "Önkormányzati TV - Média szerver", "http://onkormanyzati.tv" %></h3>
                   <%= image_tag("globomax/product_onkormanyzatitv.jpg") %>
                   Bizonyára Ön is egyetért velünk abban, hogy a választópolgárok szívesen tudnának többet a képviselőtestület munkájáról. Szeretnének jobban belelátni a döntéshozatal folyamatába...
              </div>
            </div>
            <div class="span-8 last">
              <div class="text">
                   <h3>Elérhetőségünk</h3>
                   Cím: 1155 Budapest, Dembinszky utca 1. <br/>
                   GPS koordináták: <br/>
                   47o32'51,09" LAT (N)<br/>
                   19o06'29,04" LON (E)<br/>
                   Telefon: 06-1-306-5371
                   Ügyfélszolgálat:
                   06-1-271-0451
                   Fax:
                   06-1-306-53-64
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="block_9">
      <div class="container">
        <div class="span-24">
          <div class="footer">Copyright © 2011 Globomax Kft. - Minden jog fenntartva.</div>
        </div>
      </div>
    </div>

  </div>

<script>
  $(".slidetabs").tabs(".images > div", {

        // enable "cross-fading" effect
        effect: 'fade',
        fadeOutSpeed: "slow",

        // start from the beginning after the last tab
        rotate: true

        // use the slideshow plugin. It accepts its own configuration
    }).slideshow();

    $(".slidetabs").data("slideshow").play();

</script>

</body>
</html>