<!DOCTYPE html>
<html>
<head>
  <title>Gtt</title>

  <!-- ExtCSS -->

  <%= stylesheet_link_tag "../extjs/resources/css/ext-all" %>
  <%= stylesheet_link_tag "../extjs/resources/css/xtheme-gray" %>
  <%= stylesheet_link_tag "question" %>

  <!-- ExtJS -->

  <%= javascript_include_tag "../extjs/adapter/ext/ext-base" %>
  <%= javascript_include_tag "../extjs/ext-all-debug" %>
  <%= javascript_include_tag "../extjs/src/locale/ext-lang-hu" %>

  <script type="text/javascript">
    Ext.BLANK_IMAGE_URL = "<%= Rails.root %>/public/images/ext_default_image/s.gif"
  </script>

  <!-- ExtJS end -->

  <%= csrf_meta_tag %>
</head>
<body>


<div id="question_background">

<div id="questions">
  <div id="main_container">
    <div id="title">
      ÖTV felmérő hírlevél
    </div>
    <div id="title_text">
      Tisztelt Ügyfelünk!<br/><br/>
      Kérem, válaszoljon az alábbi néhány kérdésre, ezzel is hozzájárulva a legjobb ár-érték arányú termék és
      szolgáltatás kialakításához.
      A válaszolók között egy <b>100.000.- Ft</b> értékű ÖTV szolgáltatási csomagot sorsolunk ki.
    </div>
    <div id="form">
      <%= yield %>
    </div>
    <div id="question_footer">

    </div>

  </div>

</div>

</div>


</body>
</html>
